@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Inter", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); 
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
  display: inline-flex; 
}

.animate-marquee:hover {
  animation-play-state: paused;
}


/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.navlink {
  @apply relative text-[#051B2E] text-sm px-2;
}

.navlink.active {
  @apply text-[#248398];
}

.navlink.active::before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #248398;
}
